In [56]:
import nfl_data_py as nfl
import pandas as pd
import matplotlib.pyplot as plt
from adjustText import adjust_text
from matplotlib.patches import Rectangle
import numpy as np

In [24]:
week_by_week2024 = nfl.import_weekly_data([2024], downcast=True)
play_by_play2024 = nfl.import_pbp_data([2024], downcast=True, cache=False, alt_path=None)
schedule2024 = nfl.import_schedules([2024])

Downcasting floats.
2024 done.
Downcasting floats.

In [34]:
seasonal2024 = nfl.import_seasonal_data([2024], "REG")
winstotal2024 = nfl.import_win_totals([2024])

WARNING:root:The win totals data source is currently in flux and may be out of date.

In [ ]:
# printing the columns of week_by_week so I don't mess up names lol
for columns in week_by_week2024.columns: 
    print (columns)

In [ ]:
# printing the columns of play_byPlay so I don't mess up names lol
for column in play_by_play2024.columns:
    print(column)

In [ ]:
for column in schedule2024.columns:
    print(column)

In [57]:
smallSchedule2024= schedule2024[['result', 'away_team', 'away_score', 'home_team', 'home_score']]

# creating a function to calculate the win/loss ratio for each team given the seasonal data
def win_loss (schedule_df): 
    # making the dataframe smaller so its easier to handle the data
    smallSchedule2024 = schedule_df[['result', 'away_team', 'away_score', 'home_team', 'home_score', 'week']]   
    previousGames = smallSchedule2024[schedule_df['result'].notnull()]
    
    
    previousGames['homw_win'] = np.where(previousGames['result'] > 0, 1, 0)
    previousGames['away_win'] = np.where(previousGames['result'] < 0, 1, 0)
    
    ### not sure if all this is necessary. I think the best way to do it would be to just count the 1s and 0s to figure out the record
    # #obtaining the week list
    # weekList = previousGames['week'].unique()
    
    # #going week by week to calculate the records
    # for week in weekList: 
    #     weekData = previousGames[previousGames['week'] == week]
    #     weekData['home_win'] = np.where(weekData["result"] > 0, 1, 0)
    #     week
        
    return previousGames


win_loss(schedule2024)

C:\Users\ieyua\AppData\Local\Temp\ipykernel_18832\1634847175.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  previousGames['homw_win'] = np.where(previousGames['result'] > 0, 1, 0)
C:\Users\ieyua\AppData\Local\Temp\ipykernel_18832\1634847175.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  previousGames['away_win'] = np.where(previousGames['result'] < 0, 1, 0)

,result,away_team,away_score,home_team,home_score,week,homw_win,away_win
6706,7.0,BAL,20.0,KC,27.0,1,1,0
6707,5.0,GB,29.0,PHI,34.0,1,1,0
6708,-8.0,PIT,18.0,ATL,10.0,1,0,1
6709,6.0,ARI,28.0,BUF,34.0,1,1,0
6710,7.0,TEN,17.0,CHI,24.0,1,1,0
...,...,...,...,...,...,...,...,...
6839,5.0,JAX,23.0,PHI,28.0,9,1,0
6840,-10.0,DET,24.0,GB,14.0,9,0,1
6841,-6.0,LA,26.0,SEA,20.0,9,0,1
6842,8.0,IND,13.0,MIN,21.0,9,1,0
6843,6.0,TB,24.0,KC,30.0,9,1,0